.border{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color:#121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: #222;
}

.f-12{
    font-size: 24px;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}